body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  line-height: 1.6;
  font-size: 17px;
}
h1,
h2,
h3 {
  color: #1e77e2;
}

td {
  height: 50px;
  vertical-align: top;
}
td > h3:first-child {
  margin-top: 0;
}

.blue-gray {
  color: #606a86;
}
.mt-0 {
  margin-top: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
p {
  margin-top: 0;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.media {
  display: flex;
  align-items: center;
}
.media i {
  margin-right: 10px;
}
.container {
  max-width: 650px;
  margin: 0 auto;
}
.header-container {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
}
.header-container a {
  color: black;
}
.profile {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* border-radius: 100%; */
  margin-right: 50px;
}

.intro {
  margin-top: 20px;
  margin-bottom: 50px;
}

.input-group {
  margin-bottom: 22px;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 15px 15px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #ddd;
  color: #000;
}

.btn {
  background-color: #1e77e2;
  color: #fff;
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

span[class$="error"] {
  font-size: 12px;
  color: red;
  margin-top: 3px;
}

form {
  margin-bottom: 40px;
}
